body {
    background-color: black
}

#header {
    color: white;
    text-align: center
}

.puppy {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.top:hover .puppy {
    opacity: 0.3;
}

.top:hover .buy {
    opacity: 1;
}
